.main {
  display: flex;
  padding: 100px 0;
  height: 100%;
  width: 100%;

  #container {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  $block-background: rgba(white, 0.5);
  .title {
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
    padding-bottom: 10px;
  }

  .actor {
    width: 320px;
    background-color: $block-background;
    border-radius: 2px;
    margin: 20px 16px;
    padding: 20px;

    .actor-info {
      text-align: center;

      img {
        max-height: 128px;
        max-width: 128px;
      }
    }

    .actor-list {
      padding: 0;
      li {
        list-style: none;
        padding: 6px;
        line-height: 16px;
        font-size: 16px;
        cursor: pointer;

        img {
          max-width: 16px;
          max-height: 16px;
          vertical-align: bottom;
          margin-right: 6px;
        }

        &.active, &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .room {
    flex: 1;
    margin: 20px 16px;
    padding: 20px;
    background-color: $block-background;
    border-radius: 2px;

    .room-list {
      width: 100%;

      tbody > tr {
        &.active,&:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }

        td {
          padding: 2px 0;
        }
      }
    }
  }
}
