.main {
  display: flex;
  padding: 100px 0;
  height: 100%;
  width: 100%;

  #container {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  $block-background: rgba(white, 0.5);

  .actor {
    margin: 20px 16px;
    padding: 20px;
    background-color: $block-background;
    border-radius: 2px;
    width: 260px;
  }

  .chat {
    margin: 20px 16px;
    padding: 20px;
    background-color: $block-background;
    border-radius: 2px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .message-log {
      flex: 1;
      background-color: $block-background;
      margin-bottom: 10px;
      border-radius: 2px;
      padding: 10px 0;

      .message {
        margin-bottom:20px;
        position:relative;
        clear: both;
        min-height: 48px;

        .avatar {
          position: absolute;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          left: 8px;
        }

        .article {
          display:inline-block;
          padding:5px 10px;

          border-radius:5px;
          // background-image:-webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
          // background-image:linear-gradient(top,#4D90FE,#4787ED);
          max-width: 556px;
          min-height: 48px;
        }

        &.received {
          padding-left: 70px;

          .triangle {
            position:absolute;
            top:50%;
            margin-top:-8px;
            left:62px;
            display:block;
            width:0;
            height:0;
            overflow:hidden;
            line-height:0;
            font-size:0;
            border-bottom:8px solid transparent;
            border-top:8px solid transparent;
            border-left:none;
            border-right:8px solid #ccc;
          }

          .article {
            color:#000;
            background-color: #eee;
            border:1px solid #ccc;
          }
        }

        &.send {
          float: right;
          padding-right: 70px;

          .avatar {
            left: auto;
            right: 8px;
          }

          .triangle {
            position:absolute;
            top:50%;
            margin-top:-8px;
            left:auto;
            right:62px;
            display:block;
            width:0;
            height:0;
            overflow:hidden;
            line-height:0;
            font-size:0;
            border-bottom:8px solid transparent;
            border-top:8px solid transparent;
            border-right:none;
            border-left:8px solid #3079ED;
          }

          .article {
            color:#FFF;
            background:#4D90FE;
            border:1px solid #3079ED;
          }
        }
      }
    }

    .input-box {
      width: 100%;
      display: flex;

      input {
        flex: 1;
        font-size: 20px;
        padding: 4px 6px;
      }

      .send-btn {
        width: 80px;
        height: 48px;
        font-size: 16px;
      }
    }
  }

}
