node_modules
packages/**/node_modules
services/**/node_modules
public/
logs/
config/local.js
services/
build/docker/trpg/

npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
LICENSE
.vscode
