stat.json
logs/
public/
config/local.js
node_modules
db/migrations/_current_bak.json
db/seeders/emotion/mitaomao/thumbnail/
test/bench/out.log
!packages/Dashboard/lib/public
!packages/Dashboard/app/public
dist/
test/coverage
test/reports
.idea/
.DS_Store
package-lock.json

build/docker/trpg/config/local.js
build/docker/trpg/mysql

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
