[submodule "services/whiteboard/whitebophir"]
	path = services/whiteboard/whitebophir
	url = https://github.com/lovasoa/whitebophir
[submodule "services/music/api"]
	path = services/music/api
	url = https://github.com/Binaryify/NeteaseCloudMusicApi
[submodule "services/file-preview/kkFileView"]
	path = services/file-preview/kkFileView
	url = https://github.com/kekingcn/kkFileView.git
