<html>
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel='stylesheet' href='/css/common.css'/>
  <link rel='stylesheet' href='/css/index.css'/>
  <script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/bg.js"></script>
</head>
<body>
  <div class="main">
    <div id="container">
      <div id="anitOut"></div>
    </div>

    <div class="notice">
      <div class="title">公告</div>
      <div class="content">
        <include("./notice.marko")></include>
      </div>
    </div>
    <form class="login-panel">
      <input type="text" placeholder="用户名" maxlength="16"/>
      <input type="password" placeholder="密码" maxlength="16"/>
      <input type="button" value="登录"/>
      <div class="stat">当前在线人数：2333</div>
      <a href="#">注册账号</a>
    </form>
  </div>

</body>
</html>
