<html>
<head>
  <include("./include/common-head.marko")></include>
  <title>房间</title>
  <link rel='stylesheet' href='/css/room.css'/>
  <script type="text/javascript" src="/js/bg.js"></script>
</head>
<body>
  <div class="main">
    <div id="container">
      <div id="anitOut"></div>
    </div>

    <div class="actor">
      <div class="player">
        <div class="title">玩家</div>
        <div class="content">
          <ul></ul>
        </div>
      </div>
      <div class="npc">
        <div class="title">npc</div>
        <div class="content">
          <ul></ul>
        </div>
      </div>
    </div>

    <div class="chat">
      <div class="message-log">
        <div class="message received">
          <img class="avatar" src="/img/coc-avatar.png" />
          <span class="triangle"></span>
          <div class="article">我发短信给你了我发短信给你了我发短信给你了我发短信给你了我发短信给你了我发短信给你了我发短信给你了我发短信给你了</div>
        </div>
        <div class="message send">
          <img class="avatar" src="/img/coc-avatar.png" />
          <span class="triangle"></span>
          <div class="article">我发短信给你了我发短信给你了我发短信给你了我发短信给你了</div>
        </div>
      </div>
      <div class="input-box">
        <input type="text" />
        <button class="send-btn">发送</button>
      </div>
    </div>
  </div>

</body>
</html>
