<html>
<head>
  <include("./include/common-head.marko")></include>
  <title>房间</title>
  <link rel='stylesheet' href='/css/room.css'/>
  <script type="text/javascript" src="/js/bg.js"></script>
  <script type="text/javascript" src="/js/room.js" data="${JSON.stringify({roomId:data.roomId, playerInfo:data.playerInfo})}"></script>
  <script id="msgTpl" type="text/x-handlebars-template">
    {{#if received}}
    <div class="message received">
    {{else}}
    <div class="message send">
    {{/if}}
      <img class="avatar" src="/img/coc-avatar.png" />
      <span class="triangle"></span>
      <div class="article">{{content}}</div>
    </div>
  </script>
</head>
<body>
  <div class="main">
    <div id="container">
      <div id="anitOut"></div>
    </div>

    <div class="actor">
      <div class="player">
        <div class="title">玩家</div>
        <div class="content">
          <ul></ul>
        </div>
      </div>
      <div class="npc">
        <div class="title">npc</div>
        <div class="content">
          <ul></ul>
        </div>
      </div>
    </div>

    <div class="chat">
      <div class="message-log">
        <!-- 聊天信息内容 -->
      </div>
      <div class="input-box">
        <input id="msg-input" type="text" />
        <button class="send-btn">发送</button>
      </div>
    </div>
  </div>

</body>
</html>
