/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

article iframe {
  margin: 0;
}

details summary {
  outline: 0;
}

.actor-iframe {
  width: 640px;
  height: 300px;
  border: 1px solid gainsboro;
  border-radius: 3px;
}

.actor-template-previewer {
  position: relative;
}

.actor-template-previewer .actor-template-previewer-btn{
  position: absolute;
  top: 10px;
  right: 10px;
}

/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */
:root {
  --ifm-color-primary: #8c6244;
  --ifm-color-primary-dark: #7e583d;
  --ifm-color-primary-darker: #77533a;
  --ifm-color-primary-darkest: #624530;
  --ifm-color-primary-light: #9a6c4b;
  --ifm-color-primary-lighter: #a1714e;
  --ifm-color-primary-lightest: #7f593e;
}
